@model IEnumerable<Kramatdjati.Models.KasBank>

@{
    ViewBag.Title = "Kas Bank";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

<h2>Kas Bank</h2>

<p>
    @Html.ActionLink("Tambah", "Create", "KasBanks", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.tblGlAccount.AccCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaKasBank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NamaAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoAccount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Saldo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tblGlAccount.AccCode)
                    @Html.DisplayFor(modelItem => item.tblGlAccount.AccDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaKasBank)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoAccount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Saldo)
                </td>
                <td>
                    @Html.ActionLink("Edit ", "Edit", "KasBanks", new { id = item.KasBankID }, new { @class = "btn btn-xs btn-primary" })
                    @Html.ActionLink("Hapus ", "Delete", "KasBanks", new { id = item.KasBankID }, new { @class = "btn btn-xs btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
