@model Kramatdjati.Models.tblGLBatchDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblGLBatchDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblGLAccount.AccCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGLAccount.AccCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblGLBatch.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGLBatch.User)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoRef)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoRef)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TglTransaksi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglTransaksi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Debet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Debet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kredit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kredit)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
