@model IEnumerable<Kramatdjati.Models.StokOpname>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

<h2>Stok Opname</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal pull-right">
        <div class="form-group">
            <div class="col-md-12">
                Posting
                @Html.EditorFor(model => model.FirstOrDefault().Posting, new { @class = "form-control" })
                <input type="submit" value="Proses" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Tambah", "Create", "StokOpnames", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TglBuat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gudang.Lokasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TglPosting)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserPosting)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TglBuat)
                </td>
                <th>
                    @Html.DisplayFor(model => item.gudang.Lokasi)
                </th>
                <td>
                    @if (item.TglPosting != DateTime.Parse("2001-01-01"))
                    {
                        @Html.DisplayFor(modelItem => item.TglPosting)
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserPosting)
                </td>
                <td>
                    @if (item.Posting != true)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.StokOpnameID }, new { @class = "btn btn-xs btn-primary" })
                        @Html.ActionLink("Details", "Index", "StokOpnameRincians", new { id = item.StokOpnameID }, new { @class = "btn btn-xs btn-primary" })
                        @Html.ActionLink("Posting", "Details", new { id = item.StokOpnameID }, new { @class = "btn btn-xs btn-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.StokOpnameID }, new { @class = "btn btn-xs btn-danger" })
                    }
                    else
                    {

                        @Html.ActionLink("Cetak", "Cetak", new { id = item.StokOpnameID }, new { @class = "btn btn-xs btn-success" })
                        @Html.ActionLink("Buka Posting", "BatalPosting", new { id = item.StokOpnameID }, new { @class = "btn btn-xs btn-primary" })
                    }
            </td>
        </tr>
        }
    </tbody>
</table>
