@model IEnumerable<Kramatdjati.Models.JenisKemasan >

@{
    ViewBag.Title = "Jenis Kemasan";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

<h2>Jenis Kemasan</h2>
<h4>Bahan Baku:@ViewBag.BahanBaku</h4>
<p>
    @Html.ActionLink("Tambah", "Create", "JenisKemasans",  new { id = ViewBag.BahanBakuID, BahanBaku=ViewBag.BahanBaku }, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.BahanBaku.KodeBahanBaku)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Keterangan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Berat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BahanBaku.satuan.Keterangan)
            </th>
            <th>
                @Html.DisplayNameFor(model=>model.FirstOrDefault().Default  )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.BahanBaku.KodeBahanBaku)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Keterangan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Berat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BahanBaku.satuan.Keterangan  )
                </td>
                <td>
                    @Html.DisplayFor(modelItem=>item.Default )
                </td>
                <td>

                    @Html.ActionLink("Edit ", "Edit", "JenisKemasans", new { id = item.JenisKemasanID , BahanBaku=ViewBag.BahanBaku }, new { @class = "btn btn-xs btn-primary" })
                    @Html.ActionLink("Hapus ", "Delete", "JenisKemasans", new { id = item.JenisKemasanID , BahanBaku=ViewBag.BahanBaku}, new { @class = "btn btn-xs btn-danger" })

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.JenisKemasanID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.JenisKemasanID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.JenisKemasanID })*@
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to Bahan Baku", "Index", "BahanBakus")
</div>
