@model IEnumerable<Kramatdjati.Models.SuratJalanLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SuratJalanID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TglProses)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keterangan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SuratJalanID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TglProses)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Operator)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keterangan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SuratJalanLogID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SuratJalanLogID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SuratJalanLogID })
        </td>
    </tr>
}

</table>
