@model IEnumerable<Kramatdjati.Models.rptSaldoAwal >

@{
    ViewBag.Title = "Informasi Saldo Awal";
}


<h2>Informasi Saldo Awal</h2>
<div class="col-md-4">
    <h4>Kode Barang:@ViewBag.KodeBarang</h4>
    <h4>Bulan:@ViewBag.Period</h4>
    <h4>Tahun:@ViewBag.Tahun</h4>
    <h4>Jenis Persediaan:@ViewBag.JenisPersediaan</h4>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Lokasi)
            </th>
            <th class="text-right ">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Jumlah)
            </th>
            <th class="text-right ">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Total )
            </th>
          </tr>
    </thead>
    <tbody>
        @{decimal RpTotal = Model.Sum(a => a.HargaRata2  );
        decimal JmlTotal = Model.Sum(a => a.Jumlah );
         }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lokasi)
                </td>
                <td class="text-right ">
                    @Html.DisplayFor(modelItem => item.Jumlah)
                </td>
                <td class="text-right ">
                    @Html.DisplayFor(modelItem => item.HargaRata2)
                </td>
             </tr>
        }
    </tbody>
    <tfoot >
        <tr>
            <td>
                
            </td>
            <td class="text-right ">
                @String.Format("{0:N2}", @JmlTotal)
            </td>

            <td class="text-right ">
                @String.Format("{0:N2}", @RpTotal)


            </td>
 
        </tr>
    </tfoot>
</table>
<p>
    @Html.ActionLink("Back to List", "Index", "rptLaporanPemakaians", new {  Bulan= ViewBag.Period, Tahun= ViewBag.Tahun,  JenisPersediaanID = ViewBag.JenisPersediaanID}, null)
</p>