@model Kramatdjati.Models.Contact

@{
    ViewBag.Title = "Kontak";
}

<h2>Tambah</h2>
<h4>Supplier/Customer</h4>
<hr />
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.Perusahaan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Perusahaan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Perusahaan, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Kontak, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Kontak, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Kontak, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telepon, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Telepon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telepon, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Fax, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Fax, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger" })
                    </div>
                </div>



                <div class="form-group">
                    @Html.LabelFor(model => model.PPN, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2 checkbox-form">
                        <label data-toggle="collapse" data-target="#DivPPN">
                            @Html.CheckBoxFor(model => model.PPN)
                            @Html.ValidationMessageFor(model => model.PPN, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>
                <div class="collapse" id="DivPPN">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#home">Faktur 1</a></li>
                        <li><a data-toggle="tab" href="#menu1">Faktur 2</a></li>
                    </ul>

                    <div class="tab-content">
                        <div id="home" class="tab-pane fade in active">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NamaFaktur1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NamaFaktur1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NamaFaktur1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AlamatFaktur1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AlamatFaktur1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AlamatFaktur1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.KotaFaktur1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KotaFaktur1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.KotaFaktur1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NPWPFaktur1, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NPWPFaktur1, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NPWPFaktur1, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div id="menu1" class="tab-pane fade">
                            <div class="form-group">
                                @Html.LabelFor(model => model.NamaFaktur2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NamaFaktur2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NamaFaktur2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.AlamatFaktur2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.AlamatFaktur2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.AlamatFaktur2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.KotaFaktur2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.KotaFaktur2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.KotaFaktur2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NPWPFaktur2, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.NPWPFaktur2, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NPWPFaktur2, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <div class="form-horizontal">
                <div class="form-group">
                    @Html.LabelFor(model => model.Alamat, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Kota, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Kota, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Kota, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Propinsi, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Propinsi, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Propinsi, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Negara, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Negara, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Negara, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Customer, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2 checkbox-form">
                        <label data-toggle="collapse" data-target="#DivCustomer">
                            @Html.CheckBoxFor(model => model.Customer)
                            @Html.ValidationMessageFor(model => model.Customer, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>
                <div class="collapse" id="DivCustomer">
                     @*<div class="form-group">
                        @Html.LabelFor(model => model.Kredit, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-2 checkbox-form">
                            <label data-toggle="collapse" data-target="#DivKredit">
                                @Html.CheckBoxFor(model => model.Kredit)
                                @Html.ValidationMessageFor(model => model.Kredit, "", new { @class = "text-danger" })
                            </label>
                        </div>
                    </div>*@
                    <div class="collapse" id="DivKredit">
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.KreditLimit, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.KreditLimit, new { htmlAttributes = new { @class = "form-control", placeholder = "Kosongkan jika tanpa batas kredit" , Value=0} })
                                @Html.ValidationMessageFor(model => model.KreditLimit, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                        @*<div class="form-group">
                            @Html.LabelFor(model => model.NoRekPiutangID, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("NoRekPiutangID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NoRekPiutangID, "", new { @class = "text-danger" })
                            </div>
                        </div>*@
                    </div>

                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Supplier, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-2 checkbox-form">
                        <label data-toggle="collapse" data-target="#DivSupplier">
                            @Html.CheckBoxFor(model => model.Supplier)
                            @Html.ValidationMessageFor(model => model.Supplier, "", new { @class = "text-danger" })
                        </label>
                    </div>
                </div>
                <div class="collapse" id="DivSupplier">
                    <div class="form-group">
                        @Html.LabelFor(model => model.NoRekHutangID, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("NoRekHutangID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.NoRekHutangID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>