@model Kramatdjati.Models.tblGLAccPeriod

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tblGLAccPeriod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblGLAccount.AccCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGLAccount.AccCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccOpening)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccOpening)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod12)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
