@model IEnumerable<Kramatdjati.Models.PenerimaanBarang>

@{
    ViewBag.Title = "Penerimaan Barang";
    Layout = "~/Views/Shared/_LayoutTable.cshtml";
}

<h2>Penerimaan Barang</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal pull-right">
        <div class="form-group">
            <div class="col-md-12">
                Posting
                @Html.EditorFor(model => model.FirstOrDefault().Posting, new { @class = "form-control" })
                <input type="submit" value="Proses" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Tambah", "Create", "PenerimaanBarangs", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Informasi Pemesanan", "Index", "InformasiPemesananBarangs", null, new { @class = "btn btn-success" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.pemesananBarang.NoPemesananBarang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pemesananBarang.contact.Perusahaan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TglTransaksi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoSuratJalan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tglSuratJalan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().gudang.Lokasi )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.pemesananBarang.NoPemesananBarang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pemesananBarang.contact.Perusahaan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TglTransaksi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoSuratJalan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tglSuratJalan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gudang.Lokasi)
                </td>
                <td>
                    @if (item.Posting != true)
                    {
                        @Html.ActionLink("Edit", "Edit", new { id = item.PenerimaanBarangID }, new { @class = "btn btn-xs btn-primary" })
                        @Html.ActionLink("Details", "Index", "PenerimaanBarangRincians", new { id = item.PenerimaanBarangID }, new { @class = "btn btn-xs btn-primary" })
                        @Html.ActionLink("Posting", "Details", new { id = item.PenerimaanBarangID }, new { @class = "btn btn-xs btn-success" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.PenerimaanBarangID }, new { @class = "btn btn-xs btn-danger" })

                    }
                    else
                    {
                        @Html.ActionLink("Cetak", "Cetak", new { id = item.PenerimaanBarangID }, new { @class = "btn btn-xs btn-success" })
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
