@model IEnumerable<Kramatdjati.Models.SuratJalanCetakRincian>

@{
    ViewBag.Title = "Index";
}
<br class="hidden-print" />
<a href="#" class="btn btn-primary hidden-print" onclick="window.print(); return false;">Print</a>
<h2 class="hidden-print">Surat Jalan (Non PPN)</h2>

<h4 class="hidden-print"><b>Customer:@ViewBag.Customer</b></h4>
<h4 class="hidden-print">No. Surat Jalan:@ViewBag.NoSO </h4>
<h4 class="hidden-print">Tgl Transaksi:@ViewBag.TglTransaksi</h4>
<h4 class="hidden-print ">Tgl Surat Jalan:@ViewBag.TglSuratJalan</h4>

<table class="table hidden-print">
    <thead>
        <tr>
            <th>
                No
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().gudangBahanBku.bahanBaku.Keterangan)
            </th>
            <th>
                Banyaknya
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().Keterangan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int intNo = 0;

            foreach (var item in Model)
            {
                intNo = intNo + 1;
                <tr>
                    <td>
                        @intNo
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gudangBahanBku.bahanBaku.KodeBahanBaku)
                    </td>
                    <td>
                        @string.Format("{0:N0}", item.Jumlah) @Html.DisplayFor(modelItem => item.gudangBahanBku.bahanBaku.satuan.Keterangan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Keterangan)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.SuratJalanCetakRincianID }, new { @class = "btn btn-xs btn-primary" })
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<div class="visible-print SectionPrint" style="height:300px;border:2px solid black">
    @*<div style="height:4px"></div>
    <div class="col-xs-5 col-xs-offset-1"><font size="1"><b>@ViewBag.Customer</b></font></div>
    <div class="col-xs-2 col-xs-offset-3"><div class="col-xs-1"><font size="1" class="col-xs-offset-1">@ViewBag.NoSO</font></div></div>
    <div class="col-xs-5 col-xs-offset-1"><font size="1">@ViewBag.Alamat</font></div>
    <div class="col-xs-2 col-xs-offset-3"><div class="col-xs-1"><font size="1" class="col-xs-offset-1">@ViewBag.TglSuratJalan</font></div></div>
    <div class="col-xs-5 col-xs-offset-1"><font size="1">@ViewBag.Kota</font></div>
    <div style="height:110px"></div>
    @{
        int intNoVis = 0;

        foreach (var item in Model)
        {
            intNoVis = intNoVis + 1;
            <div class="col-xs-1 text-right"><font size="1">@intNoVis</font></div>

            <div class="col-xs-5"><font size="1">@Html.DisplayFor(modelItem => item.gudangBahanBku.bahanBaku.KodeBahanBaku)</font></div>

            <div class="col-xs-3">
                <font size="1">
                    @string.Format("{0:N0}", item.Jumlah) @Html.DisplayFor(modelItem => item.gudangBahanBku.bahanBaku.satuan.Keterangan)
                </font>
            </div>
            <div class="col-xs-3"><font size="1">@Html.DisplayFor(modelItem => item.Keterangan)</font></div>
        }
    }*@

</div>
<div class="hidden-print">
    @Html.ActionLink("Back to List", "Index", "SuratJalans")
</div>
