@model Kramatdjati.Models.PemesananBarang

@{
    ViewBag.Title = "Closing";
}

<h2>Closing</h2>
<h4>Persiapan Pembayaran</h4>
<hr />
<h3>Apakah data pemesanan pembelian akan ditutup?</h3>
<div>
     <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.contact.Perusahaan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contact.Perusahaan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoPemesananBarang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoPemesananBarang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TglPesan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglPesan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TglPengiriman)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglPengiriman)
        </dd>
         <dt>
             @Html.DisplayNameFor(model => model.Catatan)
         </dt>

         <dd>
             @Html.DisplayFor(model => model.Catatan)
         </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Closing" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
