@model IEnumerable<Kramatdjati.Models.MasterRoleDetail>

@{
    ViewBag.Title = "Form Role";
    var strRole =ViewBag.Role;
}

<h2>Role @strRole</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { MasterRoleID = ViewBag.id })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MasterForm.KodeForm)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MasterRole.NamaRole)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MasterForm.KodeForm)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MasterRole.NamaRole)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MasterRoleDetailID }) |
             @Html.ActionLink("Delete", "Delete", new { id=item.MasterRoleDetailID })
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "Index", "MasterRoles")
</div>

