@model Kramatdjati.Models.PemakaianPengembalianBarangRincian

@{
    ViewBag.Title = "Hapus";
}

<h2>Hapus</h2>
<h4>Pemakaian/Pengembalian Barang Rincian</h4>
<hr />
<h3>Apakah data akan dihapus?</h3>
<div>

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gudangBahaBaku.bahanBaku.KodeBahanBaku )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gudangBahaBaku.bahanBaku.KodeBahanBaku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gudangBahaBaku.bahanBaku.Keterangan )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gudangBahaBaku.bahanBaku.Keterangan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jumlah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jumlah)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = ViewBag.PemakaianPengembalianBarangID })
        </div>
    }
</div>
