@model Kramatdjati.Models.tblGLBatch

@{
    ViewBag.Title = "Delete";
}

<h2>Hapus</h2>
<h4>Batch Jurnal Umum</h4>
<hr />
<h3>Apakah Batch Jurnal Umum akan dihapus?</h3>
<div>
 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tblGLBatchId )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblGLBatchId )
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TglKerja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglKerja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AccPeriod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccPeriod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
