@model Kramatdjati.Models.Resep

@{
    ViewBag.Title = "Details";
}

<h2>Buka Posting</h2>
<h4>BOM</h4>
<hr />
<div>
    <h3>Apakah data akan dibuka posting?</h3>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KodeResep)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KodeResep)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TglBuat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglBuat)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Buka Posting", "BukaPosting", new { id = Model.ResepID }, new { @class = "btn btn-default" })
    </p>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
