@model Kramatdjati.Models.SalesOrderRincian

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SalesOrderRincian</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bahanBaku.KodeBahanBaku)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bahanBaku.KodeBahanBaku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalesOrder.NoSO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalesOrder.NoSO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HargaJual)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HargaJual)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jumlah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jumlah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JmlYangSudahDiKirim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JmlYangSudahDiKirim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.statusLengkap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.statusLengkap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SalesOrderRincianID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
