@model IEnumerable<Kramatdjati.Models.JPDeptBRincian>

@{
    ViewBag.Title = "Index";
}
<br />
<a href="#" class="btn btn-primary hidden-print" onclick="window.print(); return false;">Print</a>
<h2>Jadual Produksi Departemen B</h2>

<h4><b>Tgl Produksi:@ViewBag.TglProduksi</b></h4>
<h4>Tgl Produksi Dept A:@ViewBag.TglProduksiDeptA</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().lpDeptARincian.jpDeptARincian.KodeBarangJadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UkuranTebal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Banyaknya)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JmlBahan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keterangan)
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.lpDeptARincian.jpDeptARincian.KodeBarangJadi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UkuranTebal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Banyaknya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JmlBahan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Keterangan)
            </td>
  
        </tr>
    }

</table>
<h4>Dibuat Oleh:@ViewBag.DibuatOleh</h4>

<div class="form-group">
    <label for="comment">Catatan:</label>
    <textarea class="form-control" rows="5" id="comment">@ViewBag.Catatan</textarea>
</div>

<div class="hidden-print">
    @Html.ActionLink("Back to List", "Index", "JPDeptAs")
</div>