@model Kramatdjati.Models.SuratJalanRincian

@{
    ViewBag.Title = "Delete";
}

<h2>Hapus</h2>
<h4>Perincian Surat Jalan</h4>
<hr />
<h3>Apakah data akan dihapus?</h3>
<div>
 
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.salesOrderRincian.bahanBaku.KodeBahanBaku )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salesOrderRincian.bahanBaku.KodeBahanBaku)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.salesOrderRincian.bahanBaku.Keterangan )
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salesOrderRincian.bahanBaku.Keterangan )
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.JumlahDikirim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.JumlahDikirim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.salesOrderRincian.bahanBaku.satuan.Keterangan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.salesOrderRincian.bahanBaku.satuan.Keterangan)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index", new { id = ViewBag.SuratJalanID })
        </div>
    }
</div>
