@model Kramatdjati.Models.PenimbanganProduksi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PenimbanganProduksi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gudangBahanBaku.GudangBahanBakuID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gudangBahanBaku.GudangBahanBakuID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jpDeptARincian.KodeBarangJadi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jpDeptARincian.KodeBarangJadi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jumlah)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jumlah)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Posting)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Posting)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PenimbanganProduksiID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
