@model Kramatdjati.Models.MataUang

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MataUang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Keterangan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Keterangan)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MataUangID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
