@model IEnumerable<Kramatdjati.Models.MataUang>

@{
    ViewBag.Title = "Index";
}

<h2>Mata Uang</h2>

<p>
    @Html.ActionLink("Tambah", "Create", "MataUangs", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Keterangan)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Keterangan)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MataUangID }, new { @class = "btn btn-xs btn-primary" }) 
            @Html.ActionLink("Delete", "Delete", new { id = item.MataUangID }, new { @class = "btn btn-xs btn-danger" })
        </td>
    </tr>
}

</table>
