@model IEnumerable<Kramatdjati.Models.PenerimaanBarangRincian>

@{
    ViewBag.Title = "Index";
}

<h2>Rincian Penerimaan Barang</h2>

<p>
    @Html.ActionLink("Tambah", "Create", "PenerimaanBarangRincians", new { id = @ViewBag.PenerimaanBarangID }, new { @class = "btn btn-primary" })
</p>
<h4><b>Supplier:@ViewBag.Perusahaan</b></h4>
<h4>No. PO:@ViewBag.NoPO </h4>
<h4>Tgl Terima:@ViewBag.TglTransaksi</h4>
<h4>No. Surat Jalan:@ViewBag.NoSuratJalan</h4>
<h4>Tgl Surat Jalan:@ViewBag.TglSuratJalan</h4>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.pemesananBarangRincian.bahanbaku.KodeBahanBaku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pemesananBarangRincian.bahanbaku.Keterangan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pemesananBarangRincian.bahanbaku.satuan.Keterangan)
        </th>
        <th class="text-right ">
            Jml Dipesan
        </th>
        <th class="text-right ">
            Jml Sdh Diterima
        </th>
         <th class="text-right ">
            @Html.DisplayNameFor(model => model.JumlahDiTerima)
        </th>
        <th class="text-right ">
            Sisa
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.pemesananBarangRincian.bahanbaku.KodeBahanBaku )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pemesananBarangRincian.bahanbaku.Keterangan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pemesananBarangRincian.bahanbaku.satuan.Keterangan)
        </td>
        <td class="text-right ">
            @String.Format("{0:N2}", item.pemesananBarangRincian.Jumlah )
        </td>
        <td class="text-right ">
            @String.Format("{0:N2}", item.pemesananBarangRincian.JmlYangSudahDiterima )
        </td>
        <td class="text-right ">
            @String.Format("{0:N2}", item.JumlahDiTerima)
        </td>
        <td class="text-right ">
            @String.Format("{0:N2}", item.pemesananBarangRincian.Jumlah - item.pemesananBarangRincian.JmlYangSudahDiterima - item.JumlahDiTerima )
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PenerimaanBarangRincianID }, new { @class = "btn btn-xs btn-primary" }) 
             @Html.ActionLink("Delete", "Delete", new { id = item.PenerimaanBarangRincianID }, new { @class = "btn btn-xs btn-danger" })
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("Back to List", "Index", "PenerimaanBarangs")
</div>
