@model Kramatdjati.Models.LPDeptA

@{
    ViewBag.Title = "Details";
}

<h2>Posting</h2>
<h4>Laporan Produksi Departemen A</h4>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TglProduksi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TglProduksi)
        </dd>

         <dt>
            @Html.DisplayNameFor(model => model.Catatan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Catatan)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Posting", "Posting", new { id = Model.LPDeptAID }, new { @class = "btn btn-default" })
    </p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>